<main class="main" appInfiniteScroll (loadMore)="loadMore()">
  <div class="container">
    <h1>Filtro de precios</h1>

    <app-price-filter ngSkipHydration (filterChange)="applyFilter($event)">
    </app-price-filter>



    <div class="card-grid">
      <app-scraper-card *ngFor="let item of displayedCards; trackBy: trackByIndex" [data]="item">
      </app-scraper-card>
    </div>

    <div *ngIf="isFilterActive && !isLoading && displayedCards.length === 0" class="no-results">
      <p>No se encontraron propiedades que coincidan con los filtros seleccionados.</p>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
